.carousel-item{
    width: 100%;
} 
.carousel-item img{
    height: 400px;
}
.logindiv{
    height: 90%;
}
.welcome-txt
{
    font-family: cursive;
    font-size: 25px;
}
.user-txt
{
    font-family: cursive;
    font-size: 70px;
    text-align: -webkit-center;
    text-overflow: ellipsis; 
    overflow: hidden;
}