<form>
    <div class="form-group">
      <label for="customerName">Full Name</label>
      <input type="text" class="form-control" id="customerName">
    </div>
    <div class="form-group">
      <label for="customerMob">Mobile Number</label>
      <input type="text" class="form-control" id="customerMob">
    </div>
    <div class="form-group">
        <label for="custAddress">Address</label>
        <textarea class="form-control" id="custAddress" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="appointmentDate">Date</label>
        <input type="text" class="form-control" id="appointmentDate">
    </div>
    <div class="form-group">
        <label for="productNumber">Product</label>
        <input type="text" class="form-control" id="productNumber">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  